openapi: 3.1.0
info:
  title: Carruseles Instagram API
  version: "1.0.0"
  description: API para crear carruseles visuales en Airtable desde GPTs.
servers:
  - url: https://api.airtable.com/v0/appG6w548Y47CGbxL
paths:
  /tblz5UYur84TxXRus:
    post:
      summary: Crear carrusel de Instagram
      operationId: createInstagramCarousel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: array
                  items:
                    type: object
                    properties:
                      fields:
                        type: object
                        properties:
                          Título del Carrusel:
                            type: string
                          Introducción - Título (Slide 1):
                            type: string
                          Introducción - Subtítulo (Slide 1):
                            type: string
                          Introducción - Texto (Slide 1):
                            type: string
                          Slide Cierre - Título (Última Slide):
                            type: string
                          Slide Cierre - Subtítulo (Última Slide):
                            type: string
                          Slide Cierre - Texto (Última Slide):
                            type: string
                          Idea Visual General:
                            type: string
                          Segmento (Buyer/Campaña):
                            type: string
                          Tipo de Publicación:
                            type: string
                          Número de Slides:
                            type: integer
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
security:
  - BearerAuth: []

